 <div class="user-details">
  <h1> About Me </h1>
  <p> Hi there! I am a Computer Science graduate student at University of Massachusetts - Amherst.</p>
  <p> Intruiged by all things Machine Learning, I am eager to transform my theoretical knowledge into practical and scalable solutions through a meaningful internship in the summer of 2018. Here is my <a target="_blank" href="https://goo.gl/z5PhZ6">resume</a>.</p>
  <p> My interests lie at the intersection of Natural Language Processing (specifically Information Extraction and Understanding) and prospective interdisciplinary applications of the same.</p>
  <h1> My Expertise</h1>
</div>
<div class="user">
  <div class="tech">
    <h3>Code</h3>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-c-plain-wordmark colored"></i>
    <p>Numerous years of experience through exposure via courses, projects and internships</p>
  </div>
  <div class="tech">
    <h3>ML</h3>
    <!-- <img src="{{ "/assets/img/sklearn-logo.png" | prepend: site.baseurl }}" /> -->
    <img src="{{ "/assets/img/pytorch-logo.jpg" | prepend: site.baseurl }}" style="height:55px"/>
    <img src="{{ "/assets/img/matlab-logo.jpg" | prepend: site.baseurl }}" style="height:75px"/>
    <p>Have used Numpy, Scikit-learn and MATLAB to implement core machine learning and vision algorithms</p>
    <p>Of late, I have been dabbling in the PyTorch framework</p>
  </div>
  <div class="tech">
    <h3>Other</h3>
    <i class="devicon-django-plain-wordmark colored"></i>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <p>Have developed simple applications with effective dashboards for data visualization to communicate results</p>
    <p>Fluent user of version control via Git</p>
  </div>
</div>
