 <div class="user-details">
  <h1> About Me </h1>
  <img src="{{ "/assets/img/mohit.png" | prepend: site.baseurl }}" />
  <div class="user">
    <div class="intro">
      <p> Hi there! I am a Computer Science graduate student at the University of Massachusetts - Amherst.</p>
      <p> Intruiged by all things Machine Learning, I love staying up to date with the happenings in the research community. I am eager to transform my theoretical knowledge into practical and scalable solutions through a meaningful career in the industry starting in the summer of 2019. Here is my <a target="_blank" href="https://goo.gl/z5PhZ6">resume</a>.</p>
      <p> My interests lie in the fields of software engineering, large scale systems, and machine learning. There are petabytes of raw data waiting to be processed to obtain invaluable insight and I wish to dive into that pool of information.</p>
      <p>My goal is to develop a mechanism by which we can skill the common and underprivileged masses who do not have access to good quality education by using technology to aid or automate the teaching process.</p>
    </div>
  </div>
  <p></p>
  <div class="user">
    <img src="{{ "/assets/img/pesit-logo1.jpg" | prepend: site.baseurl }}"/>
    <img src="{{ "/assets/img/umass.png" | prepend: site.baseurl }}" />
    <img src="{{ "/assets/img/bcbs.png" | prepend: site.baseurl }}" />
  </div>
  <h1> My Expertise</h1>
</div>
<div class="user">
  <div class="tech">
    <h3>Code</h3>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <br/>
    <i class="devicon-c-plain-wordmark colored"></i>
    <p>Numerous years of experience through exposure via courses, implemented projects and technical internships</p>
  </div>
  <div class="tech">
    <h3>ML</h3>
    <!-- <img src="{{ "/assets/img/sklearn-logo.png" | prepend: site.baseurl }}" /> -->
    <img src="{{ "/assets/img/pytorch-logo.jpg" | prepend: site.baseurl }}" style="height:40px"/>
    <img src="{{ "/assets/img/keras-logo.jpg" | prepend: site.baseurl }}" style="height:55px"/>
    <br/>
    <img src="{{ "/assets/img/pyspark-logo.jpeg" | prepend: site.baseurl }}" style="height:55px"/>
    <img src="{{ "/assets/img/matlab-logo.jpg" | prepend: site.baseurl }}" style="height:55px"/>
    <p>Used Numpy, Scikit-learn and MATLAB to implement core machine learning, natural language processing and vision algorithms</p>
    <p>Of late, I have been dabbling in the PyTorch and Keras frameworks, while handling larger workloads through PySpark</p>
  </div>
  <div class="tech">
    <h3>Other</h3>
    <i class="devicon-django-plain-wordmark colored"></i>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <br>
    <i class="devicon-github-plain-wordmark colored"></i>
    <p>Developed simple applications, and dashboards with data visualization to effectively communicate results</p>
    <p>Strong proponent of version control tools like Git</p>
  </div>
</div>
