<div class="user-details">
  <h1> Current Projects </h1>
</div>
<div class="user">
  <div class="tech">
    <h3>Center for Knowledge Communication - UMass</h3>
    <img src="{{ "/assets/img/ckc.png" | prepend: site.baseurl }}" />
    <p>Under the guidance of Dr. Beverly Woolf, I am working on the full stack development of a crowd sourced question authoring tool for <a href="mathspring.org" target="_blank">MathSpring</a>, a Mathematics tutor</p>
    <p>The <a href="" target="_blank">Center for Knowledge Communication</a> at UMass builds Web-based intelligent tutors that understand a student's learning needs, optimize teaching materials and use effective tutoring strategies</p>
  </div>
  <div class="tech">
    <h3>Information Sciences Institute - USC</h3>
    <img src="{{ "/assets/img/isi.jpg" | prepend: site.baseurl }}" />
    <p>As part of an industry collaboration project, I am working [<a href="https://github.com/rohinikapoor/organizational-roles" target="_blank">github</a>] on the <a href="https://www.cs.cmu.edu/~./enron/" target="_blank">Enron Email Dataset</a> to infer organizational hierarchy and model user behaviour to detect possible phishing attacks in an unsupervised manner</p>
    <p>The <a href="The https://www.isi.edu/home" target="_blank">ISI</a> at University of Southern California is a world leader in research and development of advanced information processing, computer and communications technologies</p>
  </div>
  <div class="tech">
    <h3>Chrome Dinosaur Game Playing Bot</h3>
    <img src="{{ "/assets/img/chrome-dino.jpg" | prepend: site.baseurl }}" />
    <p>Inspired by the success of Reinforcement Learning in its applications to games, I started working [<a href="https://github.com/mohit-surana/dino-ai" target="_blank">github</a>] on a bot to play Chrome's offline dinosaur game</p>
    <p>In my free time, I am learning RL to build this before I move onto the next big project!</p>
  </div>
</div>
