<div class="user-details">
  <h1> Featured Projects </h1>
  <p>This section is currently under development. Do come back in a day.</p>
  <p>Meanwhile, do look at these beautiful images!</p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mountains </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>There are mountains to your right. This sentence is a filler to make sure the mountain image size is normal. How are they related? Good question.</p>
    <a class="project-link" href="#">Pointless button</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Skating </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>There are people skating on the left. It may not be the smartest idea to skate on a highway but oh well.</p>
    <a class="project-link" href="#">Pointless button</a>
  </div>
</div>
