<div class="user-details">
  <h1> Past Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Bloom's Taxonomy" src="{{ "/assets/img/bloom.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Applying Bloom’s Taxonomy in Qualitative Analysis of Questions </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Developed classifiers for labelling textbook questions along the cognitive (90% accuracy) and knowledge (60% accuracy) dimensions of Bloom’s Taxonomy.</p>
    <p>Design included an ensemble of numerous classifiers</p>
    <p>Poster was presented at the UMass Data Science Mixer and the PESIT Roadshow</p>
    <a class="project-link" target="_blank" href="https://github.com/mohit-surana/question-quality-analyser">GitHub</a>
    <a class="project-link" target="_blank" href="{{ "/assets/other/ds-mixer-poster.pdf" | prepend: site.baseurl }}">DS Mixer Poster</a>
    <a class="project-link" target="_blank" href="{{ "/assets/other/pesit-roadshow-poster.pdf" | prepend: site.baseurl }}">Roadshow Poster</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Twitter" src="{{ "/assets/img/twitter.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Analysis of Tweets </h3>
    <p>Compared the accuracies of a Naive Bayes Classifier and Decision Tree with respect to the Indian Elections</p>
    <p>Implemented a Bidirectional RNN based solution to assess the performance of banks after the Demonetization scheme</p>
    <!-- <a class="project-link" target="_blank" href="#">Pointless button</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Python" src="{{ "/assets/img/python.png" | prepend: site.baseurl }}" style="width: 50%" />
  </div>
  <div class="contents">
    <h3>Intelligent IDE and Python Code Autocorrector</h3>
    <p>Developed an IDE with features like language based highlighting, indentation and auto completion.</p>
    <p>Also wrote the grammar and a Python based parser that checked for syntactic and semantic errors in code, suggesting fixes</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Shopping Portal" src="{{ "/assets/img/shopping.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Online Shopping Portal</h3>
    <p>Led a team of 13 for a Software Engineering Project</p>
    <p>Concretely understood the development lifecycle and effective management across multiple developers</p>
    <p>Designed the backend analytics pipeline for suggesting how much should be restocked and when</p>
  </div>
</div>
