<div class="user-details">
  <h1> Work </h1>
  <p> I have worked for the following organizations in the past </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Student Nokia Developer</h2>
      <!-- <p>Summer Intern</p> -->
      <img src="{{ "/assets/img/snd-logo.jpeg" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-git-plain"></i> -->
      <p>Backend developer for a multiplayer Movie Quote Quiz game on Windows Phone</p>
      <p>Optimised it to be playable on unreliable low speed networks</p>
      <p>Stack: Windows Phone SDK</p>
    </div>
    <div class="tech">
      <h2>Goldman Sachs</h2>
      <p>Summer Intern (Jun 2016 - Jul 2016)</p>
      <img src="{{ "/assets/img/goldman-sachs-logo.jpg" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Designed a portal to onboard vendors onto an invoice management system</p>
      <p>Data federation helped automate of invoice management leading to an estimated reduction of 120,000 customer tickets annually</p>
      <p>Stack: Angular Js, RESTful Services, Java and proprietary DB tools</p>
    </div>
    <div class="tech">
      <h2>Intuit</h2>
      <p>Co-op Intern (Jan 2017 - Jun 2017)</p>
      <img src="{{ "/assets/img/intuit-logo.png" | prepend: site.baseurl }}" />
      <!-- <i class="devicon-html5-plain-wordmark"></i> -->
      <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i> -->
      <p>Remodelled resources and wrote fully automated end to end tested APIs</p>
      <p>Created dashboards for monitoring API performance using Splunk and productivity tracking for Github activity</p>
      <p>Stack: Java, Splunk, Django (Python)</p>
    </div>
    
</div>
